{% load static %}
<div class="about-wrap">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img width="150" src="{% static 'hrebenikv.png' %}" alt="">
            </div>
            <div class="col-8">
                <h3 class="px-5">Hi, I’m Vitalii. Nice to meet you.</h3>
                <p class="py-3 px-5">Since beginning my journey as a freelance designer nearly 8 years ago, 
                I've done remote work for agencies, consulted for startups, and collaborated with talented people to create digital 
                products for both business and consumer use.
                I'm quietly confident, naturally curious, and perpetually improving my chops.</p>
            </div>
        </div>
    </div>
</div>