{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

  <div class="container">
    <div class="single-post"
      <div class="row">
        <div class="col mt-3 mb-3">

            <h1>{{ single.title }}</h1>
            <p>{{ single.timestamp_pretty }}</p><br>
            <div style="width:300px">
                <img style="width:100%" class="img-fluid" src="{{ single.image.url }}" alt="">
            </div>
            <p>{{ single.description }}</p>

        </div>
      </div>
    </div>
</div>

 {% endblock %}








