{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<section class="portfolio">
  <div class="container">
    <h2 class="text-center works">My Recent Work</h2>
      <div class="row">
        {% for job in jobs.all %}
            <div class="col-4 mt-5">
              <div class="card mb-4 shadow-sm">
                <div class="img-wrap">
                  <img src="{{ job.image.url }}" alt="{{ job.summary }}">
                </div>
                <div class="card-body">
                  <p class="card-text">{{ job.summary }}</p>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>
</section>

 {% endblock %}

